pkgbase = picgo-appimage
	pkgdesc = A simple & beautiful tool for pictures uploading built by electron-vue
	pkgver = 2.2.2
	pkgrel = 1
	url = https://molunerfinn.com/PicGo/
	arch = x86_64
	license = MIT
	noextract = PicGo-2.2.2.AppImage
	options = !strip
	source = https://github.com/Molunerfinn/PicGo/releases/download/v2.2.2/PicGo-2.2.2.AppImage
	source = picgo.png
	source = picgo.desktop
	sha512sums = e1d6bcc898ae3b42354c3c14c8146ef9d2f226a997bcde751b61b1495b0920c9534c76f49fd6e3d65e40280e086d033033c239a916b7cba1f5fb6ef037690f05
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = picgo-appimage

